# Hidden files
/**/.*
!.gitignore

# Config files
/**/*.iml

# Output/Cache files
/**/out/
/**/__pycache__/

# Quartus Output/Cache files
/1ano/2semestre/lsd/**/db/
/1ano/2semestre/lsd/**/incremental_db/
/1ano/2semestre/lsd/**/output_files/*
!/1ano/2semestre/lsd/**/output_files/*.sof
/1ano/2semestre/lsd/**/simulation/
/1ano/2semestre/lsd/**/*.bak
/1ano/2semestre/lsd/**/*.qws
/1ano/2semestre/lsd/**/*.qpf
/1ano/2semestre/lsd/**/*.qsf
!/1ano/2semestre/lsd/master.qsf
