# Hidden files
/**/.*
!.gitignore

# Config files
/**/*.iml

# Output/Cache files
/**/out/
/**/__pycache__/

# Quartus Output/Cache files
/**/db/
/**/incremental_db/
/**/output_files/*
!/**/output_files/*.sof
/**/simulation/
/**/*.bak
/**/*.qws
/**/*.qpf
/**/*.qsf
!/1ano/2semestre/lsd/master.qsf
